
/* Jumbotron  */
.jumbotron {
    background-image: url(../images/rockOn_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(50vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .card-img {
    max-width: 60vh;
    max-height: 40vh;
    object-fit: cover;
}